* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.card-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/pattern-background-desktop.svg') no-repeat top center/100%;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
}

.card {
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
}

.card-hero img {
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-header {
    margin-top: 30px;
    font-weight: 900;
    text-align: center;
    
}

.card-description {
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    padding: 0 20px;
}

.card-pricing {
    display: flex;
    width: 100%;
    margin: 40px 0;
}

.card-pricing-icon {
    flex-basis: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.card-pricing_plan {
    flex-basis: 1;
    flex-grow: 1;
}

.card-pricing_plan p {
    margin: 5px;
}

.card-pricing_plan_annual {
    font-weight: 700;
}

.card-pricing_plan_cost {
    color: hsl(224, 23%, 55%);
}

.card-pricing-change {
    padding-right: 30px;
    color: hsl(245, 75%, 52%);
    flex-basis: 2;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pricing-change:hover {
    color: hsl(224, 23%, 55%);
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 40px;
}

.card-payment {
    /* display: block; */
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background: hsl(245, 75%, 52%);
    text-align: center;
    width: fit-content;
    padding: 10px 70px;
    border-radius: 10px;
}

.card-payment:hover {
    background: hsl(224, 23%, 55%)
}

.card-cancel {
    text-decoration: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    padding-top: 15px;
}

.card-cancel:hover {
    color: hsl(223, 47%, 23%);
}